* {
  margin: 0%;
  padding: 0%;
}
.apply .h .labels {
  float: left;
}

.apply .heading {
  text-align: center;
}

.apply .buttons {
  margin: 30px 0;
  text-align: center;
}

.apply .img {
  width: 25vw;
}

.apply label {
  text-transform: capitalize;
  font-family: Georgia, serif;
  font-size: 1rem;
  font-weight: 800;
}

.apply .add {
  margin-left: 5vw;
  margin-top: 50px;
}

.apply .sig {
  text-align: center;
}

.apply .headline {
  text-align: center;
}

.apply .form {
  width: 100%;
}

.apply .container-fluid {
  align-items: center;
  background-color: #f0d9e7;
  border: 2px solid black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0px 8px 16px 0px;
}
.apply .block2 {
  width: 300px;
  height: 200px;
}
.apply .block11 {
  width: 200px;
  height: 200px;
}
.apply .block12 {
  width: 250px;
  height: 50px;
}

.apply #pic1,
.apply #pic {
  margin-left: 7rem;
}

@media (max-width: 1000px) {
  .apply div {
    word-wrap: break-word;
  }

  .apply .add {
    margin-left: 0vw;
    margin-top: 50px;
  }

  .apply #pic1,
  .apply #pic {
    margin-left: 0px;
  }

  .apply .block11 {
    width: 100px;
    height: 100px;
  }

  .apply .block12 {
    width: 7rem;
  }
  .apply .form {
    border: 1px solid black;
    margin: 0;
  }

  .apply label {
    font-family: Georgia, serif;
    font-size: 0.7rem;
  }
  .apply .block2 {
    margin-left: 1rem;
    width: 11rem;

    display: none;
  }

  .apply .img {
    width: 70vw;
  }
}
