.link {
  text-align: center;
}

.cusdash .container {
  margin-top: 50px;
}

.showTransations {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.cusdash .center {
  text-align: center;
}
